$fontserif: 'Times new roman', 'Times', serif;
$font: 'Helvetica', 'Arial0', sans-serif;

$baseColor : #FFFFFF;
$secondaryColor: #AEAEAE;

$bp-small : 480px;
$bp-tablet : 768px;
$bp-desktop: 1024px;
$bp-desktop-large: 1200px;
$bp-desktop-extra-large: 1800px;
