$borderColor: #6A6A6A;
$bgColor: #FFF;
$textColor: #333;


@mixin baseInput {
  font-size: 1.6rem;
  width: 100%;
  border: 1px solid $borderColor;
  border-radius: 2px;
  outline: none;
  background: $bgColor;
  padding: .9rem .1rem;
  color: #333;
}

.formInput-text{
  @include baseInput;
    // Additional style
}
.formInput-select{
  @include baseInput;
    // Additional style
}
.formInput-number{
  @include baseInput;
    // Additional style
}
